{% extends 'base.html' %} 
{% block content %}

<div class="container">
    <h1>Check-In</h1>
</div>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-body">
                    <form class="row g-3 needs-validation" method="POST" action="{% url 'checkin' %}" novalidate>
                        {% csrf_token %}
                        <div class="col-md-6">
                            <label for="documento_adjunto" class="form-label">Adjuntar documento de identidad:</label>
                            <input type="file" class="form-control" id="documento_adjunto" name="documento_adjunto" accept=".pdf,.jpg,.jpeg,.png" required>
                            <div class="invalid-feedback">
                                Por favor, adjunta un documento de identidad.
                            </div>

                            <!-- Primer botón: Validar -->
                            <div class="col-12">
                                <button class="btn btn-primary" type="submit">Validar OCR</button>
                            </div>

                            <!-- Formulario de datos personales -->
                            <div>
                                <label for="nombre">Nombre:</label>
                                <input type="text" class="form-control" id="nombre" name="nombre" required>
                            </div>
                            <div>
                                <label for="apellido">Apellido:</label>
                                <input type="text" class="form-control" id="apellido" name="apellido" required>
                            </div>
                            <div>
                                <label for="id">Identificación (Cédula):</label>
                                <input type="text" class="form-control" id="id" name="id" required>
                            </div>
                            <div>
                                <label for="fecha_nacimiento">Fecha de nacimiento:</label>
                                <input type="date" class="form-control" id="fecha_nacimiento" name="fecha_nacimiento" required>
                            </div>

                            <div>
                                <label for="numero_reserva">Número de reserva (opcional)</label>
                                <input type="text" class="form-control" id="numero_reserva" name="numero_reserva">
                            </div>

                            <!-- Segundo botón: Validar Reserva -->
                            <div class="col-12">
                                <button class="btn btn-success" type="submit" name="action" value="validar_reserva">Validar Reserva</button>
                            </div>

                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
